/habits.db
/.idea/dataSources/ae608e06-0214-4584-842c-6555dd267ac1.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/HabitTracking.iml
/.idea/dataSources/ae608e06-0214-4584-842c-6555dd267ac1/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
